<div class="homepage">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading heading-font-dark">WhereArtThou works because we <font color="purple">love</font>art.</h2>
      <p class="hp-p"> We are passionate about art, and we're not alone!  Our favorite local artists were looking for ways to share their art with the world, and we were looking for ways to expose new audiences to art.<br><br>The result? WhereArtThere, a fun, free virtual meeting place  where artists can show their art--and sell it if they choose. Best of all, art lovers everywhere now have a place where they can add the art they like to their own "mosaic" and discover new art!
    </div>
    <div class="col-md-5">
      <%= image_tag "heart.png", class: "featurette-image img-responsive img-about-top" %>
    </div>
  </div>
  
  <div class="container-marketing">  
    <div class="row">
      <div class="col-lg-3">
        <center>
        <%= image_tag "Amanda.jpg", alt: "Amanda", class: "img img-circle img-team" %>  
        <h2>Amanda Walter</h2>
        <%= link_to (fa_icon "twitter 2x"),  "https://twitter.com/AmandaWalter789", target: "_blank"%> 
        <%= link_to (fa_icon "github 2x"), "https://github.com/AmandaWalter", target: "_blank" %> 
        <%= link_to (fa_icon "envelope 2x"), "mailto:me@domain.com" %>
      </center>
    

        <p>Amanda serves as Product Manager and assumed responsibility for setting up Amazon Server Storage and Friendly ID.  She installed and engineered the user mosaic, and she seemlessly managed the team's work from beginning to end.  
      </div><!-- /.col-lg-4 -->
      
      <div class="col-lg-3">
        <center>
        <%= image_tag "Konrad.jpg", alt: "Konrad", class: "img img-circle img-team" %>
        <h2>Konrad Maurer</h2>
        <%= link_to (fa_icon "twitter 2x"),  "https://twitter.com/AmandaWalter789", target: "_blank"%> 
        <%= link_to (fa_icon "github 2x"), "https://github.com/Koma2Koma", target: "_blank" %> 
        <%= link_to (fa_icon "envelope 2x"), "mailto:kradjr@gmail" %>
      </center>

        <p>Konrad "navigated" the often complex programming associated with geolocation.  He is responsible for customizing the hosted Google maps seen througought the site, and he tackled the sister-beasts of "searchabiliy" and "taggability."</p>
      </div><!-- /.col-lg-4 -->
      
      <div class="col-lg-3">
        <center>
         <%= image_tag "Anne.jpg", alt: "Anne", class: "img img-circle img-team" %>
        <h2>Anne Nichols</h2>
        <%= link_to (fa_icon "twitter 2x"),  "https://twitter.com/RubyN00b", target: "_blank"%> 
        <%= link_to (fa_icon "github 2x"), "https://github.com/annemnichols", target: "_blank" %> 
        <%= link_to (fa_icon "envelope 2x"), "anne@seantnichols.com" %>
      </center>

        <p>Anne is our front-end guru, overseeing everthing from color templates and fonts to writing media queries that improved user experience.  She programmed the myriad forms (and modals) in the site as well as alternatives for their for them in mobile environment.  </p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-3">
        <center>
        <%= image_tag "Craig.jpg", alt: "Anne", class: "img img-circle img-team" %>
        <h2>Craig Nielson</h2>
        <%= link_to (fa_icon "twitter 2x"),  "https://twitter.com/kmowie", target: "_blank"%> 
        <%= link_to (fa_icon "github 2x"), "https://github.com/Koma2Koma", target: "_blank" %> 
        <%= link_to (fa_icon "envelope 2x"), "mailto:nielson.craig@gmail.com" %>
        </center>

        <p>Craig oversaw measures to make the site responsive to sizes of various sizes, manipulating breaking points.  He built the Artist About Page, the About Page and the "Get Started Page." Craig was also the WhereArtThere copywriter.</p>
      </div><!-- /.col-lg-4 -->
    </div> 
  </div>     
</div>







     