<div class="homepage">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading heading-font-dark">WhereArtThou works because we <font color="purple">love</font>art.</h2>
      <p class="lead">We built WeArtThou because we're passionate about art, and we're not alone!  Our favorite local artists were looking for ways to share their art with the world, and we were looking for ways to create ways to expose new audiences to art.  The result? WhereArtThere, a fun, free virtual meeting place  where artists can show their art--and sell it if they choose.  Equally important, art lovers everywhere finally have a place where they can add the art they like to their own "mosaic" and discover new art they'd never had access to until now.
    </div>
    <div class="col-md-5">
      <%= image_tag "heart.png", class: "featurette-image img-responsive img-about-top" %>
    </div>
  </div>
  
  <div class="container-marketing">  
    <div class="row">
      <div class="col-lg-3">
        <center><img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
        <h2>Amanda Walter</h2>
        <%= link_to (fa_icon "facebook")%>
        <%= link_to (fa_icon "twitter") %> 
        <%= link_to (fa_icon "instagram") %>
        <%= link_to (fa_icon "globe") %>
        <%= link_to (fa_icon "envelope") %></center>

        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
      </div><!-- /.col-lg-4 -->
      
      <div class="col-lg-3">
        <center><img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
        <h2>Konrad Maurer</h2>
        <%= link_to (fa_icon "facebook")%>
        <%= link_to (fa_icon "twitter") %> 
        <%= link_to (fa_icon "instagram") %>
        <%= link_to (fa_icon "globe") %>
        <%= link_to (fa_icon "envelope") %></center>

        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
      </div><!-- /.col-lg-4 -->
      
      <div class="col-lg-3">
        <center><img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
        <h2>Anne Nichols</h2>
        <%= link_to (fa_icon "facebook")%>
        <%= link_to (fa_icon "twitter") %> 
        <%= link_to (fa_icon "instagram") %>
        <%= link_to (fa_icon "globe") %>
        <%= link_to (fa_icon "envelope") %></center>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-3">
        <center><img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
        <h2>Craig Nielson</h2>
        <%= link_to (fa_icon "facebook")%>
        <%= link_to (fa_icon "twitter") %> 
        <%= link_to (fa_icon "instagram") %>
        <%= link_to (fa_icon "globe") %>
        <%= link_to (fa_icon "envelope") %></center>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
      </div><!-- /.col-lg-4 -->
    </div> 
  </div>     
</div>







     