<div class='user-page-background discover-page'>

  <h1 id='venue-title' class='col-md-8'>Art Venues Near You</h1>
  <h1 id='feature-title' class='col-md-4'>Featured Artists</h1>


  <div id='discover-container'>
    <div id='map-container'>
      <div id="map" class='col-md-4' ></div>

      <div id='venue-details' class='col-md-3'></div>
    </div>

    <div class='col-md-3' id='featured-artist-container'>
      
      <% @featured_artists.each do |artist| %>
        <div>
          <% user = User.find(artist.user_id) %>
          <% sample_art = artist.works.first unless artist.works.nil? %>
          <div class='indiv-artist'><h3><%= link_to user.username.titleize, artist_path(artist) %> &nbsp </h3><div class='art-art'>
          <%= link_to (image_tag sample_art.image.url(:small)), artist_work_path(artist, sample_art) unless sample_art.nil? %></div></div>
        </div>
      <% end %>
    </div>
  </div>

</div>

<script type="text/javascript">
$(document).ready( function () {
  setTimeout(function () {
    <% @venues.each do |venue| %>
      <% if !venue.latitude.nil? %>
      window.map.addMarker({
            lat: <%= venue.latitude %>,
            lng: <%= venue.longitude %>,
            <% if venue.events.count > 0 %>
              icon: '<%= ['assets/red_splat.png', 'assets/blue_splat.png', 'assets/green_splat.png'].sample %>', 
            <% else %>
              icon: 'assets/frame-landscape.png',
            <% end %>
            click: function(e) {
              $( '#venue-details' ).html('<h1><%= link_to venue.name.camelize, venue_path(venue) unless venue.name.nil? %></h1><h3><%= venue.address %><br><%= venue.city %>, <%= venue.state %> </h3>');
            }
          });

      <% end %>
    <% end %>
  }, 5000);
});

</script>