<div class='user-page-background'>

<h1>Art Venues Near You</h1>



<div id='map-container'>
  <div id="map" class='col-md-6' ></div>

  <div id='venue-details' class='col-md-3'></div>
</div>

</div>

<script type="text/javascript">
$(document).ready( function () {
  setTimeout(function () {
    <% @venues.each do |venue| %>
      <% if !venue.latitude.nil? %>
        <% if Event.any


      window.map.addMarker({
            lat: <%= venue.latitude %>,
            lng: <%= venue.longitude %>,
            icon: 'assets/frame-landscape.png',
            click: function(e) {
              $( '#venue-details' ).html('<h1><%= link_to venue.name.camelize, venue_path(venue) unless venue.name.nil? %></h1><h3><%= venue.address %><br><%= venue.city %>, <%= venue.state %> </h3>');
            }
          });
      <% end %>
    <% end %>
  }, 5000);
});

</script>