<div class="homepage">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading heading-font-dark">Getting Started is easy. <span class="text-muted">Here's how...</span></h2>
      <p class="lead">Use the search field to browse the works of thousands of artists from across the United States and Canada.  You can search by artist, name of work, or by descriptive terms like "landscape," "acrylic," or even "cheerful."</p>
    </div>
    <div class="col-md-5">
      <%= image_tag "search.jpg", class: "featurette-image img-responsive img-about-top" %>
    </div>
  </div>
  
  <hr class="featurette-divider">
  
  <div class="row featurette">
    <div class="col-md-5">
      <%= image_tag "signup.jpg", class: "featurette-image img-responsive img-about-middle" %>
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading heading-font-dark">Create your own mosaic. <span class="text-muted">(This is where it gets fun.)</span></h2>
      <p class="lead">Signing up allows you to create your own user page where you can start a collection, or "mosaic," of all the works you like.  You'll have easy access to your favorite works, and you can bookmark your favorite artists to see their newest works as soon as they're finished.</p>
    </div>
  </div>

  <hr class="featurette-divider">
  
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading heading-font-dark">Are you an artist? <span class="text-muted">Reach new people.</span></h2>
      <p class="lead">Art lovers use Where Art Thou to connect with their favorite artists--Add your collections to Where Art Thou, along with pricing and contact information, and share your art with new audiences.  Sign up and select "artist"--we'll help you set up your own searchable gallery.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag "hpimage3_thou.jpg", class: "featurette-image img-responsive img-about-bottom" %>
    </div>
  </div>
  <div class="row">
      <% if !user_signed_in? %>
        <div class="home-page-buttons">
          <div class="container action-header">
            <h2>Get started now.</h2>
          </div>
          <%= render 'layouts/discover_modal' %>
          <%= link_to 'SIGN UP', '#', data: {toggle: 'modal', target: '#myModal'}, class: "btn btn-success btn-lg hpbutton" %>
        </div>
      <% else %>
        <div class="container action-header">
        </div>
      <% end %>
</div>


</div>