  <h2 class="heading-font form">ARTIST BIZ</h2>
    <div class="field">
      <%= f.label :twitter, class: "form-label" %><br />
      <%= f.text_field :twitter, autocomplete: "off", class: "form-input" %>
    </div>
    
    <div class="field">
      <%= f.label :facebook, class: "form-label" %><br />
      <%= f.text_field :facebook, autocomplete: "off", class: "form-input" %>
    </div>

    <div class="field">
      <%= f.label :instagram, class: "form-label" %><br />
      <%= f.text_field :instagram, autocomplete: "off", class: "form-input" %>
    </div>

    <div class="field">
      <%= f.label :website, class: "form-label" %><br />
      <%= f.text_field :website, autocomplete: "off", class: "form-input" %>
    </div>

    <div class="field">
      <%= f.label :about, class: "form-label" %><br />
      <%= f.text_field :about %>
    </div>
