<div class="field">
  <%= f.label :website, class: "form-label" %><br />
  <%= f.text_field :website, autocomplete: "off", class: "form-input" %>
</div>

<div class="field">
  <%= f.label 'Bio', class: "form-label" %><br />
  <%= f.text_area :about, autocomplete: "off", class: "form-input" %>
</div>

<div class="field">
  <%= f.label :twitter, class: "form-label" %><br />
  <%= f.text_field :twitter, autocomplete: "off", class: "form-input" %>
</div>

<div class="field">
  <%= f.label :facebook, class: "form-label" %><br />
  <%= f.text_field :facebook, autocomplete: "off", class: "form-input" %>
</div>

<div class="field">
  <%= f.label :instagram, class: "form-label" %><br />
  <%= f.text_field :instagram, autocomplete: "off", class: "form-input" %>
</div>