<div class="form-container">
  <h2 class="heading-font form">EDIT PROFILE</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="col-md-3">
      <div class="field">
        <%= f.label :username, class: "form-label" %><br />
        <%= f.text_field :username, autofocus: true, class: "form-input" %>
      </div>

      <div class="field">
        <%= f.label :email, class: "form-label" %><br />
        <%= f.email_field :email, class: "form-input" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label 'New Password', class: "form-label"%><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-input" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: "form-label" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-input" %>
      </div>

      <div class="field">
        <%= f.label :current_password, class: "form-label" %><br />
        <%= f.password_field :current_password, autocomplete: "off", class: "form-input" %>
      </div>
    </div>

    <% if resource.is_artist %>
      <%= f.fields_for :artist do |artist_fields| %>
        <%= render partial: 'artist_fields', locals: { f: artist_fields} %>
      <% end %>
    <% end %>

    <% if resource.is_venue %>
      <%= f.fields_for :venue do |venue_fields| %>
        <div class="col-md-6">
          <%= render partial: 'venue_fields', locals: { f: venue_fields} %>
        </div>
      <% end %>
    <% end %>

    <% if resource.is_venue == false %>
      <div class="col-md-6">
        <div class="field">
      <%= f.label 'Profile Photo', class: "form-label" %><br><i>(for best results, upload 300x300px)</i><br>
      <%= f.file_field :picture, class: "form-label" %>
        </div>
      </div>
      <% end %>
     
    <div class="col-md-3">
      <div class="actions">
       <%= f.submit "Update", class: "btn btn-success btn-lg hpbutton form-submit" %>
      </div>
        <% end %>

      <%= link_to "Back", :back, class: "btn btn-success btn-lg hpbutton form-submit" %>

      <h3 class= "form-label">Unhappy?</h3> 
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-success btn-lg hpbutton form-submit" %>
    </div>
</div>
