<% if params[:artist] == 'true' %>
  <h2 class="heading-font form-container">ARTIST SIGN-UP</h2>
<% else %>
  <h2 class="heading-font form-container">USER SIGN-UP</h2>
<% end %>

<div class="form-container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="col-md-4">
      <div class="field">
        <%= f.label :username, class: "form-label" %><br />
        <%= f.text_field :username, autofocus: true, class: "form-input" %>
      </div>

      <div class="field">
        <%= f.label :email, class: "form-label" %><br />
        <%= f.email_field :email, class: "form-input" %>
      </div>

      <div class="field">
        <%= f.label :password, class: "form-label" %>
        <% if @validatable %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-input" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: "form-label" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-input" %>
      </div>
    </div>

    <div class="col-md-4">
      <%= f.hidden_field :is_artist, value: params[:artist] %>
      <% if params[:artist] == 'true' %>
        <% @user.build_artist %>
        <%= f.fields_for :artist do |artist_fields| %>
          <%= render partial: 'artist_fields', locals: { f: artist_fields} %>
        <% end %>
      <% end %>
    </div>

    <div class="col-md-4">
      <div class="actions">
        <%= f.submit "SIGN UP", class: "btn btn-success btn-lg hpbutton form-submit" %>
      </div>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
