<div class="user-page-background">
  <div class="col-md-11">
    <%= "paperclip to go here" %>

  </div>
  <% if @artist == current_user %>
    <%= link_to 'Edit My Info', edit_user_registration_path, class: "btn btn-success btn-lg user-button col-md-1" %>
  <% end %>
</div>

      <%= f.label :twitter, class: "form-label" %><br />
      <%= f.text_field :twitter, autocomplete: "off", class: "form-input" %>
    </div>
    
    <div class="field">
      <%= f.label :facebook, class: "form-label" %><br />
      <%= f.text_field :facebook, autocomplete: "off", class: "form-input" %>
    </div>

    <div class="field">
      <%= f.label :instagram, class: "form-label" %><br />
      <%= f.text_field :instagram, autocomplete: "off", class: "form-input" %>
    </div>

    <div class="field">
      <%= f.label :website, class: "form-label" %><br />
      <%= f.text_field :website, autocomplete: "off", class: "form-input" %>
    </div>

    <div class="field">
      <%= f.label :about, class: "form-label" %><br />
      <%= f.text_field :about %>
    </div>


