<div class="artist-page-background">

	<% if @artist.works.empty? == false %>

		<div class = "artist-gallery">

			<div id="carousel-example-generic" class="carousel slide carousel-gallery" data-ride="carousel">

			  <!-- Indicators -->
			  <ol class="carousel-indicators">

			  	<% @artist.works.each_with_index do |work, index| %>
			  		<li data-target="#carousel-example-generic" data-slide-to="<%= index %>" class="<%= "active" if work == @artist.works.first %>"></li>
			  	<% end %>
			  </ol>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner" role="listbox">

			  	<% @artist.works.each do |work| %>
				    <div class="item <%= "active" if work == @artist.works.first %> ">
				      <%= link_to (image_tag work.image.url), artist_work_path(@artist, work.id), class: "img img-responsive my-image" %>
				    </div>
			    <% end %>
			  </div>

			  <!-- Controls -->
			  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			    <span class="sr-only">Next</span>
			  </a>
			</div>
		</div>
	<% elsif @artist.user == current_user %>
		<div class="heading-font">
			<center>Welcome!</center>
			<center>Click 'Upload new image' below to add artwork,</center>
			<center>or click 'Edit Profile' to add to your bio page.</center><br>
		</div>
	<% end %>

	<div class="artist-header">
		<span class="heading-font"><%= @artist.user.username.upcase %>'S GALLERY</span>
		<div class="artist-buttons">
			<%= link_to 'View Artist Bio', artist_about_path, class: "btn btn-success btn-lg hpbutton artist-bio-btn" %>

			<% if @artist.user == current_user %>
				<%= link_to 'Upload new image', new_artist_work_path(@artist), class: "btn btn-success btn-lg hpbutton" %>
		    <%= link_to 'Edit Profile', edit_user_registration_path(:artist => true), class: "btn btn-success btn-lg hpbutton" %><br>
			<% end %>
		</div>
	</div>

	<div class = "lower-artist-show">
		<% @artist.works.each do |work| %>
			<div class="work-thumb">
		  	<%= link_to (image_tag work.image.url(:small)), artist_work_path(@artist, work.id), class:"work-thumbnail", id:"work-thumb" %>
			</div>
		<%end%>
	</div>
</div>
