<%= form_for([@artist, @work], :html => { :multipart => true }) do |f| %>
  <% if @work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work.errors.count, "error") %> prohibited this image from being saved:</h2>
      <ul>
      <% @work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-container">
    <div class="col-md-4">

      <div class="field">
        <%= f.label :title, class: "form-label" %><br />
        <%= f.text_field :title, autofocus: true, class: "form-input" %>
      </div>

      <div class="field">
        <%= f.label :year_created, class: "form-label" %><br />
        <%= f.text_field :year, class: "form-input" %>
      </div>

      <div class="field">
        <%= f.label :price, class: "form-label" %><br />
        <%= f.text_field :price, class: "form-input" %>
      </div>

      <div class="field">
        <%= f.label :medium, class: "form-label" %><br />
        <%= f.text_field :medium, class: "form-input" %>
      </div>

      <div class="field">
        <%= f.label :style, class: "form-label" %><br />
        <%= f.text_field :style, class: "form-input" %>
      </div>

    </div>

    <div class="col-md-4">

      <div class="field">
        <%= f.label :tag_list, 'Tags (seperated by commas)', class: "form-label" %><br />
        <%= f.text_field :tag_list, class: "form-input" %>
      </div>

      <div class="field">
        <%= f.label :description, class: "form-label" %><br />
        <%= f.text_area :description, class: "form-input" %>
      </div>

      <div class="field">
        <%= f.file_field :image, class: "form-label" %>
      </div>

      <div class="actions">
        <%= f.submit "Submit", class: "btn btn-success btn-lg hpbutton form-submit" %>
      </div>

    </div>
  </div>
<% end%>
