<div class="search-page-background">
	<div class="container">
		<div class='col-md-6'>
			
			<h2>works</h2>
			<% @works.each do |work| %>
				<div class='hover-work' id=<%= work.id %> > <%= work.title %><%#=  link_to work.title, works_get_work_data_path(id: work.id), remote: true %> </div>
			<% end %>
			<p>_______________________________</p>

			<h2>artists</h2>
			<% @artists.each do |artist| %>
				<div class='hover-artist'><%= artist.username.camelize %> </div>
			<% end %>

			<p>_______________________________</p>

			<h2>venues</h2>
			<% @venues.each do |venue| %>
				<div class='hover-venue'><strong><%= venue.name.camelize %></strong>, <%= venue.city.camelize %> </div>
			<% end %>

			<p>_______________________________</p>

			<h2>events</h2>
			<% @events.each do |event| %>
				<div class='hover-event'><strong><%= event.name.camelize %></strong>, <%= event.city.camelize unless event.city.nil? %> </div>
			<% end %>

			<p>_______________________________</p>

			<h2>users</h2>
			<% @users.each do |user| %>
				<div class='hover-artist'><%= user.username.camelize %> </div>
			<% end %>

		</div>

		<div class='col-md-6'>

			<h2>results</h2>
			<p>_______________________________</p>

			<div id='hover-output'>

			</div>

		</div>
		
	</div>
</div>

<script>
$(document).ready( function() {
	
	$( '.hover-work' ).hover( function() {
		var id_num = $(this).attr('id');
		$.ajax({
			  url: "/works/get_work_data",
			  data: {"work": id_num} 
			}).done(function() {
			  $( this ).addClass( "done" );
			});
	});
});



		

		
	// 	console.log('id_num = ' + id_num)
	// 	$( '#hover-output' ).html('Getting closer');
	// }, function() {

	// } hov_on('Work', $(this).attr('id')), hov_off() );

	// function hov_on(table, id_number) {
	// 	var id_num = $(this).attr('id');
	// 	console.log('id_num = ' + id_num);
	// 	$( '#hover-output' ).html('Ah-hah');
	// };



</script>