<div class="search-page-background">
	<div class="container">
		<div class="col-md-6">	
			<h1>Tags</h1>

			<div id='tag_cloud'>
			  <% tag_cloud Work.tag_counts, %[s m l] do |tag, css_class|   %>
			    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
			  <% end %>

			</div>

			<h1>Works</h1>
			<% @works.each do |work| %>

			  <p><%= link_to (image_tag work.image.url(:thumb)), artist_work_path(work.artist, work) %>
			  <%= link_to work.title, artist_work_path(work.artist, work) %></p>
			  <br>
			<% end %>
		</div>

		<div class="col-md-6">
			<h1>Artists</h1>
			<% @artists.each do |artist| %>

			  <p><%= gravatar_for artist, class:"gravatar" %>
					 <%= artist.username %></p>
			  <br>
			<% end %>

			<h1>Users</h1>
			<% @users.each do |user| %>

			  <%= user.username %>
			  <br>
			<% end %>
		</div>
	</div>
</div>