<div class="search-page-background">
	<div class="container-fluid">

		<div role="tabpanel">
			 <!-- Nav tabs -->
			<ul class="nav nav-tabs col-md-5" role="tablist" id='tab-list'>
		    <li role="presentation" class="active"><a href="#works" aria-controls="works" role="tab" data-toggle="tab">Artwork</a></li>
		    <li role="presentation"><a href="#artists" aria-controls="artists" role="tab" data-toggle="tab">Artists</a></li>
		    <li role="presentation"><a href="#venues" aria-controls="venues" role="tab" data-toggle="tab">Venues</a></li>
		    <li role="presentation"><a href="#events" aria-controls="events" role="tab" data-toggle="tab">Events</a></li>
		    <li role="presentation"><a href="#users" aria-controls="users" role="tab" data-toggle="tab">Users</a></li>
		  </ul>

		  <!-- Tab panes -->
		  <div class="tab-content col-md-5">

		    <div role="tabpanel" class="tab-pane active" id="works">
			    	<h2 class='col-md-4 '>Artwork</h2>
				    <div class='col-md-8'>
					    <%= form_tag works_path, class: "navbar-form navbar-right search-bar", role: "search", method: "get" do %>
						    <div class="form-group">
						      <%= text_field_tag :search,"", class: "form-control in-panel", placeholder: "Search Here" %>
						    </div>
						   <%= submit_tag "SEARCH", class: "btn btn-default hpbutton" %>
						  <% end %>
						</div>
					<div class='spacer col-md-12'>
			  	</div>
					<% @works.each do |work| %>
							<div class='hover-work' id='<%= work.id %>' >
								<h3><div class='work-title'><%= work.title.titleize %> &nbsp </div><div class='work-image'><%= image_tag work.image.url(:small) %></div></h3>
							</div>
							<br>
					<% end %>
					<% if @works.count == 0 %>
						<div>
							<h4 class='no-result col-md-12'><br>Sorry, no artwork found with that search. <br> <br>Try another tab.</h4>
						</div>
					<% end %>
				</div>

		    <div role="tabpanel" class="tab-pane" id="artists">
			    	<h2 class='col-md-4'>Artists</h2>
			    	<div class='col-md-8'>
				    <%= form_tag works_path, class: "navbar-form navbar-right search-bar", role: "search", method: "get" do %>
					    <div class="form-group">
					      <%= text_field_tag :search,"", class: "form-control in-panel", placeholder: "Search Here" %>
					    </div>
					   <%= submit_tag "SEARCH", class: "btn btn-default hpbutton" %>
					  <% end %>
				  </div>
			  <div class='spacer col-md-12'>
			  </div>
					<% @artists.each do |artist| %>
						<% artist_obj = Artist.find_by(user_id: artist.id) %>
						<div class='hover-artist result-row'><%= image_tag(artist.photo.url(:thumb), class:"user-thumb") %>  <%= link_to artist.username.titleize, artist_path(artist_obj) %>
						</div>
					<% end %>

					<% if @artists.count == 0 %>
						<div>
							<h4 class='no-result col-md-12'><br>Sorry, no artists found with that search. <br> <br>Try another tab.</h4>
						</div>
					<% end %>
				</div>

		    <div role="tabpanel" class="tab-pane" id="venues">
		    	<h2 class='col-md-4 tab-inner-title'>Venues</h2>
		    	<div class='col-md-8'>
			    <%= form_tag works_path, class: "navbar-form navbar-right search-bar", role: "search", method: "get" do %>
				    <div class="form-group">
				      <%= text_field_tag :search,"", class: "form-control in-panel", placeholder: "Search Here" %>
				    </div>
				   <%= submit_tag "SEARCH", class: "btn btn-default hpbutton" %>
				  <% end %>
			  </div>
			  <div class='spacer col-md-12'>
			  </div>
					<% @venues.each do |venue| %>
						<div class='hover-venue'><h3><strong><%= link_to venue.name.titleize, venue_path(venue) %></strong></h3><h4> &nbsp &nbsp  <%= venue.city.camelize %>, <%= venue.state.upcase %> </h4></div>
						<div class='spacer col-md-12'>
			  		</div>
					<% end %>
					<% if @venues.count == 0 %>
						<div>
							<h4 class='no-result col-md-12'><br>Sorry, no venues found with that search. <br> <br>Try another tab.</h4>
						</div>
					<% end %>
				</div>

				<div role="tabpanel" class="tab-pane" id="events">
		    	<h2 class='col-md-4'>Events</h2>
		    	<div class='col-md-8'>
			    <%= form_tag works_path, class: "navbar-form navbar-right search-bar", role: "search", method: "get" do %>
				    <div class="form-group">
				      <%= text_field_tag :search,"", class: "form-control in-panel", placeholder: "Search Here" %>
				    </div>
				   <%= submit_tag "SEARCH", class: "btn btn-default hpbutton" %>
				  <% end %>
				</div>
				<div class='spacer col-md-12'>
			  </div>
					<% @events.each do |event| %>
						<% venue = Venue.find(event.venue_id) %>
						<div class='hover-venue'><h3><strong><%= link_to event.name.titleize, venue_event_path(venue, event) %></strong></h3><h4> &nbsp &nbsp <%= link_to venue.name.titleize, venue_path(venue) %>, <%= venue.city.titleize %>, <%= venue.state.upcase %> </h4><br>
						</div>
					<% end %>
					<% if @events.count == 0 %>
						<div>
							<h4 class='no-result col-md-12'><br>Sorry, no events found with that search. <br> <br>Try another tab.</h4>
						</div>
					<% end %>
				</div>
			

		    <div role="tabpanel" class="tab-pane" id="users">
		    	<h2 class='col-md-4'>Users</h2>
		    	<div class='col-md-8'>
			    <%= form_tag works_path, class: "navbar-form navbar-right search-bar", role: "search", method: "get" do %>
				    <div class="form-group">
				      <%= text_field_tag :search,"", class: "form-control in-panel", placeholder: "Search Here" %>
				    </div>
				   <%= submit_tag "SEARCH", class: "btn btn-default hpbutton" %>
				  <% end %>
				</div>
				<div class='spacer col-md-12'>
			  </div>
					<% @users.each do |user| %>
						<div class='hover-user col-md-12 result-row'><h3><%= image_tag(user.photo.url(:thumb), class:"user-thumb") %>  <%= link_to user.username.titleize, user_path(user) %></h3>
						</div>
						<div class='spacer col-md-12'>
			  		</div>
					<% end %>
					<% if @users.count == 0 %>
						<div>
							<h4 class='no-result col-md-12'><br>Sorry, no users found with that search. <br> <br>Try another tab.</h4>
						</div>
					<% end %>
				
				</div>
		  </div>
		</div>

		

		<div class='col-md-4 hover-output hidden-sm hidden-xs'>
			<div id='hover-output'>
			</div>
		</div>

		<div class='col-md-3'>
			<h1>Popular Tags</h1>
      <div id='tag_cloud'>
        <% tag_cloud Work.tag_counts, %w[s m l] do |tag, css_class|   %>
          <%= link_to tag.name, tag_path(tag.name, search: tag.name ), class: css_class %>
        <% end %>
      </div>
		</div>
	</div>
</div>

<script>

$(document).ready( function() {
	
	$( '.hover-work' ).click( function() {
		var id_num = $(this).attr('id');
		$.ajax({
			  url: "/works/get_work_data",
			  data: {"work": id_num} 
			}).done(function() {
			  $( this ).addClass( "done" );
			});
	});


});

</script>