<div class="search-page-background">
	<div class="container">

		<div role="tabpanel">
			 <!-- Nav tabs -->
			<ul class="nav nav-tabs col-md-4" role="tablist" id='tab-list'>
		    <li role="presentation" class="active"><a href="#works" aria-controls="works" role="tab" data-toggle="tab">Artwork</a></li>
		    <li role="presentation"><a href="#artists" aria-controls="artists" role="tab" data-toggle="tab">Artists</a></li>
		    <li role="presentation"><a href="#venues" aria-controls="venues" role="tab" data-toggle="tab">Venues</a></li>
		    <li role="presentation"><a href="#users" aria-controls="users" role="tab" data-toggle="tab">Users</a></li>
		  </ul>

		  <!-- Tab panes -->
		  <div class="tab-content col-md-4">
		    <div role="tabpanel" class="tab-pane active" id="works">
		    <h2 style='text-decoration: underline;'>Artwork</h2>
					<% @works.each do |work| %>
							<div class='hover-work' id=<%= work.id %> >
								<a href='/artists/<%= work.artist_id %>/works/<%= work.id %>'
								<h3><div id='work-title'><%= work.title.titleize %></div><div id='work-image'><%= image_tag work.image.url(:small) %></div></h3></a>
							</div>
							<br>
					<% end %>
				</div>
		    <div role="tabpanel" class="tab-pane" id="artists">
		    	<h2>artists</h2>
					<% @artists.each do |artist| %>
						<div class='hover-artist'><%= link_to artist.username.titleize, artist_path(Artist.find_by(user_id: artist.id)) %> </div>
					<% end %>
					</div>
		    <div role="tabpanel" class="tab-pane" id="venues">
		    	<h2>venues</h2>
					<% @venues.each do |venue| %>
						<div class='hover-venue'><strong><%= link_to venue.name.titleize, venue_path(venue) %></strong>, <%= venue.city.camelize %> </div>
					<% end %></div>
		    <div role="tabpanel" class="tab-pane" id="users">
		    	<h2>users</h2>
					<% @users.each do |user| %>
						<div class='hover-artist'><%= user.username.titleize %> </div>
					<% end %>
				</div>
		  </div>
		</div>

		<!-- <div class='col-md-6'> -->
			
			<!-- <h2>works</h2>
			<% @works.each do |work| %>
				<div class='hover-work' id=<%= work.id %> > <%= work.title %><%#=  link_to work.title, works_get_work_data_path(id: work.id), remote: true %> </div>
			<% end %>
			<p>_______________________________</p>

			<h2>artists</h2>
			<% @artists.each do |artist| %>
				<div class='hover-artist'><%= link_to artist.username.titleize, artist_path(Artist.find_by(user_id: artist.id)) %> </div>
			<% end %>

			<p>_______________________________</p>

			<h2>venues</h2>
			<% @venues.each do |venue| %>
				<div class='hover-venue'><strong><%= link_to venue.name.titleize, venue_path(venue) %></strong>, <%= venue.city.camelize %> </div>
			<% end %>

			<p>_______________________________</p>

			<h2>events</h2>
			<% @events.each do |event| %>
				<div class='hover-event'><strong><%= event.name.titleize %></strong>, <%= event.city.camelize unless event.city.nil? %> </div>
			<% end %>

			<p>_______________________________</p>

			<h2>users</h2>
			<% @users.each do |user| %>
				<div class='hover-artist'><%= user.username.titleize %> </div>
			<% end %>

		</div> -->

		<div class='col-md-4' style='min-height: 400px; text-align: center;' >

			

			<div id='hover-output'>

			</div>

		</div>
		
	</div>
</div>

<script>

$(document).ready( function() {
	
	$(function () {
    $('#tab-list a:last').tab('show')
  })
	
	$( '.hover-work' ).hover( function() {
		var id_num = $(this).attr('id');
		$.ajax({
			  url: "/works/get_work_data",
			  data: {"work": id_num} 
			}).done(function() {
			  $( this ).addClass( "done" );
			});
	});
});

</script>