<div class="works-page-background">
  <div class="container">
  	<div class="col-md-6">
    	<%= image_tag @work.image.url(:large) %>
    </div>
    <div class="col-md-6">
    	<h3><strong>Title: </strong><%= @work.title %></h3>
    	<h3><strong>Year Created:</strong> <%= @work.year %></h3>
    	<h3><strong>Price: </strong>$<%= @work.price.to_i %></h3>
    	<h3><strong>Description: </strong><%= @work.description %></h3>
    	<h3><strong>Medium: </strong><%= @work.medium %></h3>
      <h3><strong>Style: </strong><%= @work.style %></h3>
    	<h3><strong>Tags: </strong><%= @work.tag_list.to_s %></h3>
    </div>
    <%= link_to 'Artist Gallery', artist_path(@work.artist), class: "btn btn-success btn-lg hpbutton" %>
    <% if @artist.user == current_user %>
    	<%= link_to 'Edit', edit_artist_work_path(@artist, @work), class: "btn btn-success btn-lg hpbutton" %>
      <%= link_to 'Delete', artist_work_path(@artist, @work), method: :delete, class: "btn btn-success btn-lg hpbutton" %>
    <% end %>
    <button id='go_back' class='btn btn-success btn-lg hpbutton'>Go Back</button>
    <% if user_signed_in? && current_user.is_artist == false %>
      <span id="add_tile"><%= link_to 'Add Tile', add_tile_path(@work), remote: true, class: 'btn btn-success btn-lg hpbutton' %></span>
    <% end %>
    <div class="likes"><%= pluralize(@work.likers(User).count, 'like')%></div>
  </div>
</div>


<script>
$( '#go_back' ).click( function() {
  window.history.back()
});

</script>