<script type="text/javascript" charset="utf-8">
  $(window).load(function() {
        $('#gallery').finalTilesGallery({
            //eventually add options here
        });
    });
</script>

<div class="user-page-background user-color container">
  <div class="col-md-3 col-sm-12">
    <div class="user-info">
      <div><%= image_tag(@user.photo(:avatar), class:"user-avatar") %>
      </div> 
      <%= @user.username %><br>
      <% if @user == current_user %>
        <%= link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-success btn-lg user-button" %>
      <% end %><br><br>
    </div>
    <% if liked_artists(@user) != nil %>
    <div class="liked-artists-header">Liked Artists</div><br>
      <ul class="user-side-list">
        <% liked_artists(@user).each do |user| %>
          <li><%= link_to user.username.titleize, artist_path(user.artist.id) %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="col-md-9 col-sm-12">
    <div id="gallery">
      <% if @user == current_user %>
        <div class="mosaic-header">Your Mosaic</div>
      <% else %>
        <div class="mosaic-header"><%= @user.username %>'s Mosaic</div>
      <% end %>
      <div class="ftg-items">
        <% if @mosaic.empty? == false %>
          <% @mosaic.each do |tile| %>
            <%= link_to artist_work_path(tile.artist_id, tile.id) do %>
              <div class="tile">
                <%= image_tag tile.image.url(:small), class: "item" %>
                <p class="caption" ><%= tile.title %></p>
              </div>
            <% end %>
          <% end %>
        <% elsif @user == current_user %>
          <div class="user-welcome">
            <center>Welcome!</center>
            <center>Use the search bar above to find art</center>
            <center>to add to your Mosaic!</center><br>
          </div>
        <% end %>
      </div>
    </div>
  </div> 
</div>


  