<div class='events-page-background'>
  <div class='container'>
    <div class='event-page-title col-md-12'>
      <h1>Event</h1>
    </div>
    <div class="event-container col-md-5">
      <div class="venue-name">
        <h2><%= @event.name %></h2>
        <p>at the</p>
        <h3><%= link_to @venue.name.titleize, venue_path(@venue) %></h3><br>
        
      </div>
      <table>
        <tbody >
          <tr>
            <td class="event-input">Date: </h4></td>
            <td class="event-details"><%= @event.start_date %> to <%= @event.end_date %></h4></td>
          </tr>
          <tr>
            <td class="event-input">Time: </h4></td>
            <td class="event-details"><%= @event.start_time %> to <%= @event.end_time %></h4></td>
          </tr>
          <tr>
            <td class="event-input">Location: </h4></td>
            <td class="event-details"><%= @event.address %> <%= @event.city %>, <%= @event.state %> <%= @event.zip %></h4></td>
          </tr>
          <tr>
            <td class="event-input">Details: </h4></td>
            <td class="event-details"><%= @event.description %></h4></td>
          </tr>
          <tr>
            <td class="event-input">Contact Name: </h4></td>
            <td class="event-details"><%= @event.contact %></h4></td>
          </tr>
        </tbody>
      </table>
      <div id='fb-icon'>
        <br><%= link_to (fa_icon "facebook 2x"), "#{@event.facebook}" if @event.facebook.chars.count > 8 %>
      </div>
      <div class="event-page-buttons">
        <% if @venue.user == current_user %>
          <%= link_to 'Edit', edit_venue_event_path(@venue, @event), class: "btn btn-success btn-lg hpbutton event-page-buttons" %>
          <%= link_to 'Delete', venue_event_path(@venue, @event), method: :delete, class: "btn btn-success btn-lg hpbutton event-page-buttons" %>
        <% end %>
        <button id='go_back' class='btn btn-success btn-lg hpbutton event-page-buttons'>Go Back</button>
      </div>
    </div>
    <div>
      <div id='event-map-container' class='col-md-6'>
        <div id='event-map'>
        </div>
          <p>Click on map for directions.</p>
      </div>
    </div>
    <div>
      
    </div>
  </div>
</div>

<script>

  $(document).ready( function () {
    
    url = GMaps.staticMapURL({
      size: [500, 300],
      zoom: 14,
      lat: <%= @venue.latitude %>,
      lng: <%= @venue.longitude %>,
      markers: [
        {lat: <%= @venue.latitude %>, lng: <%= @venue.longitude %>},
      ]
    });
          
    $('<img id="mappy"/>').attr('src', url)
      .appendTo('#event-map');

    $("#mappy").click(function () {
      window.open('https://www.google.com/maps/dir/Current+Location/<%= @venue.latitude %>,<%= @venue.longitude %>');
    });

    $( '#go_back' ).click( function() {
      window.history.back()
    });

  });

</script>