<div class='works-page-background'>
  <h2><%= @event.name %>
  <% if current_user && @venue == current_user.venue %>
      <%= link_to 'Edit', edit_venue_event_path(@venue, @event), class: "btn btn-success btn-lg hpbutton" %>
  <% end %>
</h2>

  <h4><strong>Date: </strong><%= @event.start_date %> to <%= @event.end_date %></h4>
  <h4><strong>Time: </strong><%= @event.start_time %> to <%= @event.end_time %></h4>
  <h4><strong>Location: </strong><%= @event.address %> <%= @event.city %>, <%= @event.state %> <%= @event.zip %></h4>
  <h4><strong>Details: </strong><%= @event.description %></h4>
  <h4><strong>Contact Name: </strong><%= @event.contact %></h4>
  <%= link_to 'Facebook Page', @event.facebook %>
</div>