<div class='works-page-background'>
	<div class="venue-page container">
		<div class="venue-coverphoto">
			<%= image_tag @venue.picture, class: 'ven-img' %>
		</div>
		
		<h2 class="venue-name heading-font-dark"><%= @venue.name %></h2>
		<div class='link-icons'>
			<%= link_to (fa_icon "facebook 2x"), "http://#{@venue.facebook}" if @venue.facebook %>
	    <%= link_to (fa_icon "twitter 2x"), "http://twitter.com/#{@venue.twitter}" if @venue.twitter %> 
	    <%= link_to (fa_icon "instagram 2x"), "http://instagram.com/#{@venue.instagram}" if @venue.instagram %>
	    <%= link_to (fa_icon "globe 2x"), "http://#{@venue.website}" if @venue.instagram %>
	    <% if @venue.user == current_user %>
			<div id='venue-logged-in-buttons'>
			<%= link_to 'New Event', new_venue_event_path(@venue), class: "btn btn-success btn-lg hpbutton" %>
			<%= link_to 'Edit Profile', edit_user_registration_path(:venue => true), class: "btn btn-success btn-lg hpbutton" %>
			</div>
		<% end %>
	  </div>
	  <div class='col-md-8'>
		  <div class="col-md-12 venue-about-container">
					<h2 class="venue-header">About</h2>
					<h4 class="venue-about modal-title"><%= @venue.description %></h4>
				</div>
				<div>
				<div id='venue-map-container' class='col-md-6'>
	        <div id='venue-map'>
	        </div>
	          <p>Click on map for directions.</p>
	      </div>
				<div class="col-md-3 ven-address">
					
			    <div class="modal-title">
						<h4><%= @venue.address %></h4>
						<h4><%= @venue.city %>, <%= @venue.state %></h4>
						<h4><%= @venue.phone %></h4>
					</div>

				</div>
			</div>
		</div>
			<div class="col-md-3 venue-buttons">
				<h2 class="venue-events-header">Events</h2>
				<% if @venue.events.empty? %>
					<h4>No events.</h4>
				<% else %>
					<% @venue.events.each do |event| %>
						<%= link_to venue_event_path(@venue, event) do %>
							<div class="event-box">
								<div class="modal-title event-list-header"><%= event.name %></div>
								<div class="event-list">
									<%= event.start_date %> to <%= event.end_date %><br>
									<%= event.city %>, <%= event.state %> <%= event.zip %><br>
								</div>
							</div><br>
						<% end %>
					<% end %>
				<% end %>
			</div>
		</div>
		
	</div>
</div>

<script>
$(document).ready( function () {
    
    url = GMaps.staticMapURL({
      size: [300, 200],
      zoom: 14,
      lat: <%= @venue.latitude %>,
      lng: <%= @venue.longitude %>,
      scale: 1,
      markers: [
        {lat: <%= @venue.latitude %>, lng: <%= @venue.longitude %>},
      ]
    });
          
    $('<img class="mappy"/>').attr('src', url)
      .appendTo('#venue-map');

    $(".mappy").click(function () {
      window.open('https://www.google.com/maps/dir/Current+Location/<%= @venue.latitude %>,<%= @venue.longitude %>');
    });

  });

</script>


