<div class='works-page-background'>
	<div class="venue-page container">
		<div class="venue-coverphoto">
			<%= image_tag @venue.picture %>
		</div>
		<h2 class="venue-name heading-font-dark"><%= @venue.name %></h2>
		<div class="venue-show">
			<div class="col-md-3">
				<h3 class="venue-header">Information</h3>
				<%= link_to (fa_icon "facebook 2x"), @venue.facebook if @venue.facebook %>
		    <%= link_to (fa_icon "twitter 2x"), @venue.twitter if @venue.twitter %> 
		    <%= link_to (fa_icon "instagram 2x"), @venue.instagram if @venue.instagram %>
		    <%= link_to (fa_icon "globe 2x"), "http://#{@venue.website}" if @venue.instagram %>
		    <div class="modal-title">
					<h4><%= @venue.address %></h4>
					<h4><%= @venue.city %>, <%= @venue.state %></h4>
					<h4><%= @venue.phone %></h4>
				</div>
			</div>
			<div class="col-md-6">
				<h3 class="venue-header">About</h3>
				<h4 class="venue-about modal-title"><%= @venue.description %></h4>
			</div>
			<div class="col-md-3 venue-buttons">
				<% if current_user && @venue == current_user.venue %>
					<%= link_to 'New Event', new_venue_event_path(@venue), class: "btn btn-success btn-lg hpbutton" %><br><br>
					<%= link_to 'Edit Profile', edit_user_registration_path(:venue => true), class: "btn btn-success btn-lg hpbutton" %>
				<% else %>
					<h3 class="venue-header">Events</h3>
					<% if @venue.events.empty? %>
						<h4>No events.</h4>
					<% else %>
						<% @venue.events.each do |event| %>
							<div class="event-box">
								<%= link_to event.name, venue_event_path(@venue, event), class:"modal-title event-list-header" %><br>
								<div class="event-list">
									<%= event.start_date %> to <%= event.end_date %><br>
									<%= event.city %>, <%= event.state %><br>
								</div>
							</div><br>
						<% end %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>