<nav class="navbar-fixed-top navbar-inverse">
	<div class="navbar-header">
		<%= link_to (image_tag "logo.png", class: "img img-responsive logo"), root_path %>
  </div>

  <ul class="nav navbar-nav">
    <li class="notice navbar-text"><%= notice if notice %></li>
    <li class="alert "><%= notice if alert %></li>
  </ul>

  <%= form_tag works_path, class: "navbar-form navbar-left", role: "search", method: "get" do %>
    <div class="form-group">
      <%= text_field_tag :search,"", class: "form-control", placeholder: "Fuck you" %>
    </div>
   <%= submit_tag "Search", class: "btn btn-default" %>
  <% end %>

	<ul class="nav navbar-nav pull-right">
		<li><%= link_to 'home', root_path %></li>
		<li><%= link_to 'mission', about_path %></li>
		<% if !current_user %>
			<li><%= render 'layouts/signup_modal' %></li>
		  <li><%= link_to 'log in', new_user_session_path %></li>
		<% else %>
		  <li><%= link_to 'log out', destroy_user_session_path, method: :delete %></li>
		<% end %>
	</ul>
</nav>
