
<header class="navbar navbar-fixed-top navbar-inverse">
	<%= link_to 'WAT Logo', static_pages_home_path %>

	<nav>
		<ul class="nav navbar-nav pull-right">
			<li><%= link_to 'Mission', static_pages_about_path %></li>
			<% if !current_user %>
				<li><%= render 'layouts/signup_modal' %></li>
			  <li><%= link_to 'Log In', new_user_session_path %></li>
			<% else %>
			  <li><%= link_to 'Log Out', destroy_user_session_path, method: :destroy %></li>
			<% end %>
		</ul>
	</nav>
</header>