<nav class="navbar-fixed-top navbar">
	<div class="navbar-header">
		<%= link_to (image_tag "WATlogo.jpg", class: "img img-responsive logo"), root_path %>
  </div>

  <ul class="nav navbar-nav">
    <li class="notice navbar-text"><%= notice if notice %></li>
    <li class="alert "><%= notice if alert %></li>
  </ul>

	<ul class="nav navbar-nav pull-right nav-links">
		<li><%= link_to 'HOME', root_path %></li>
		<li><%= link_to 'MISSION', about_path %></li>
		<% if !current_user %>
			<li><%= render 'layouts/signup_modal' %></li>
		  <li><%= link_to 'LOG IN', new_user_session_path %></li>
		<% else %>
		  <li><%= link_to 'LOG OUT', destroy_user_session_path, method: :delete %></li>
		<% end %>
	</ul>
</nav>
